<div class="container-fluid">

  <div class="row" >

        <!-- Wrapper for slides -->
     <div class="col-md-12 text-center">
      <!--Body content-->
       <ul class="list-unstyled">
          <li ng-repeat="game in games track by $index" class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                <h2>{{game.DescArtigo}}</h2>

                   <h6>{{game.PVP1}}€ </h6>
                   <h6> Quantity: {{game.quantity}} </h6>
                   <dt>{{game.Desconto > 0 ? "Desconto de " + game.Desconto + "%"  : ""}}</dt>
                </div>
                <div class="panel-body">
                   <img class="img-thumbnail" src="images/BMW-320d.jpg">
                    <a href="/app/#/artigo/{{game.CodArtigo}}" class="btn btn-lg btn-block btn-info">Ver Detalhes</a>
                </div>
             </div>
          </li>
        </ul>
      </div>
        <button class="btn btn-lg btn-block btn-info" ng-click="payment()"> Payment </button>
      </div> 

</div>
