<div class="container">

  <div >

        <!-- Wrapper for slides -->
     <div class="col-md-12">

      <!--Body content-->
       <ul class="list-unstyled">
          <li ng-repeat="order in orders" >
              <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<h2> <a href="#">{{order.Entidade}}</a></h2>-->
                    <h6 ng-repeat="game in order.LinhasDoc">
                  
                      <dt>{{game.DescArtigo}}</dt>
                  
                     <dt>Desconto: </dt>
                        <dd>{{game.Desconto}}</dd>
                    
                      <dt>Preço: </dt>
                        <dd>{{game.PrecoUnitario}}</dd>
                  
                      <dt>Quantidade:</dt>
                        <dd>{{game.Quantidade}}</dd>
                  
                    </h6>
                    <dt>Total: </dt>
                      <dd>{{order.TotalMerc}}</dd>
                    <dt >Data:</dt>
                      <dd>{{order.Data | date :'dd-mm-yyyy hh:mm'}}</dd>

                </div>
              </div>
          </li>
        </ul>
        </div>
    
  </div> 

</div>

