<div class="container">

  <div >
     <div class="col-md-12">
        <div class="col-md-2"></div>

        <div class="col-md-8">
				<div class="col-md-12">
					<h1 align="center">Informações de pagamento
					</h1>
				</div>        	

    			<div class="col-md-12">
					<h2> Cartão Crédito </h2>
			        <form>
			        	<label>Número de cartão</label>
			          <input type="text" class="form-control" style="margin-bottom: 15px;">
			            <button type="submit" class="btn btn-lg btn-block btn-info" ><i class="fa fa-credit-card-alt"></i>
 Pagar com cartão de crédito </button>
				        </form>
				</div>


				<div class="col-md-12">
					<h2> Paypal </h2>
			            <button href="www.paypal.com" class="btn btn-lg btn-block btn-info" ><i class="fa fa-paypal fa-lg"></i>
 Pagar com paypal </button>
				</div>
        </div>
        

        <div class="col-md-2"></div>
    </div>
    </div>
    </div>
  </div> 

</div>

